* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

main {
    color: #777;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.page-header {
    background: url("../images/header.jpg") fixed 100% 100%;
    background-size: cover;
}

.navigator-wrapper {
    background: rgba(0, 0, 0, 0.1);
}

.navigator {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navigator__item {
    list-style: none;
    font-size: 14px;
    line-height: 1;
    padding: 29px 30px;
    letter-spacing: 1px;
}

.navigator__item + .navigator__item {
    border-left: 1px rgba(255, 255, 255, 0.1) solid;
}

.navigator__item a {
    text-decoration: none;
    color: white;
}

.page-title {
    padding: 172px 0;
    text-align: center;
    color: white;
}

.page-title__main {
    font-size: 96px;
    letter-spacing: -2px;
}

.page-title__sub {
    font-size: 22px;
}

.main-article {
    color: #777;
    background-color: #f2f2f2;
}

.article-header {
    text-align: center;
    padding: 88px 0;
    border-bottom: 1px #dddddd solid;
}

.article-header__title {
    color: #6e6e6e;
    font-size: 48px;
    font-weight: 300;
    margin-top: 0;
    letter-spacing: -2px;
}

.article-header__description {
    line-height: 2;
}

.article-header__description strong {
    color: #000000;
}

.article-header__description a {
    color: #80ba8d;
    text-decoration: none;
}

.read-more-container {
    padding: 80px 0;
}

.read-more {
    display: flex;
    list-style: none;
}

.read-more__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    flex: 1;
}

.read-more__item-icon {
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    background: no-repeat center;
    margin-bottom: 36px;
}

.read-more__item-icon--1 {
    background-image: url("../images/icon1.png");
}

.read-more__item-icon--2 {
    background-image: url("../images/icon2.png");
}

.read-more__item-icon--3 {
    background-image: url("../images/icon3.png");
}

.read-more__item-header {
    font-size: 24px;
    margin-bottom: 36px;
}

.read-more__item-desc {
    line-height: 2;
    margin-bottom: 36px;
    flex-grow: 1;
}
.read-more__item-btn{
    text-decoration: none;
    padding: 14px 32px;
    line-height: 24px;
    border-radius: 6px;
    background-color: #80ba8e;
    color: #FFF;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    text-align: center;
}

.gallery__item-img {
    margin-bottom: 48px;
}

.gallery__item-header {
    font-size: 32px;
    margin-bottom: 36px;
    letter-spacing: -1px;
}

.gallery__item-description {
    line-height: 2;
    font-size: 15px;
}

.motto-section {
    background: url("../images/header.jpg") fixed 100% 0;
    background-size: cover;
    position: relative;
}

.motto-section::after {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-footer{
    text-align: center;
}
.motto {
    font-size: 26px;
    padding: 120px;
    font-style: italic;
    color: white;
}

.contact-section {
    background-color: #161616;
}

.contact {
    padding: 72px;
    border-bottom: 1px #222222 solid;
}

.contact__header {
    color: white;
    margin: 0 0 30px;
    font-size: 48px;
    font-weight: 300;
}

.contact__desc {
    font-size: 24px;
    color: #444444;
    font-weight: normal;
    margin-bottom: 56px;
}

.contact-social-links {
    display: flex;
    justify-content: center;
}

.contact-social-links__item {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: 100%;
    margin: 0 12px;
}

.contact-social-links__item.bird {
    background-image: url("../images/t.png");
}

.contact-social-links__item.facebook {
    background-image: url("../images/f.png");
}

.contact-social-links__item.basketball {
    background-image: url("../images/d.png");
}

.contact-social-links__item.twitter {
    background-image: url("../images/t2.png");
}

.designer-info {
    padding: 44px;
    color: #2d2d2d;
    font-weight: normal;
}

.designer-info a {
    color: #424242;
    text-decoration: none;
}