* {
    box-sizing: border-box;
}

html {
    font-family: Corbel, sans-serif;
    font-size: 12px;
}

.page-main, footer {
    width: 100%;
    max-width: 1200px;
    padding: 0 8px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #34AC98;
}

a:hover {
    color: #298979;
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 960px) {
    .page-main {
        display: flex;
    }
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-logo {
    width: 160px;
    height: 160px;
    padding: 16px;
}

.navigator-wrapper {
    width: 100%;
}

.page-header-contact {
    display: none;
}

@media screen and (min-width: 600px) {
    .page-header {
        flex-direction: row;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .site-logo {
        width: 100px;
        height: 100px;
        padding: 0;
    }

    .navigator-wrapper {
        order: 1;
    }
}

@media screen and (min-width: 960px) {
    .page-header {
        flex-direction: column;
        margin-right: 32px;
        padding-bottom: 0;
        min-width: 160px;
    }

    .navigator-wrapper {
        margin-top: 30px;
    }

    .page-header-contact {
        display: block;
        order: 2;
        margin-top: 30px;
    }

    .page-header-contact__title {
        font-weight: bold;
        padding-bottom: 4px;
        border-bottom: 1px #E5E5E5 dashed;
        margin-bottom: 12px;
    }

    .page-header-contact__btn {
        border-radius: 4px;
        border: 1px #E5E5E5 solid;
        background: none;
        padding: 8px 10px;
        color: #34AC98;
        cursor: pointer;
    }

    .page-header-contact__btn:hover {
        color: #298979;
    }

    .page-header-contact__btn .iconfont {
        margin-right: 4px;
    }

    .page-header-contact__desc {
        margin-bottom: 12px;
        font-style: italic;
    }
}

.navigator {
    display: flex;
    list-style: none;
    padding: 24px 0;
    justify-content: space-around;
    margin: 0;
    border-bottom: 1px solid #E5E5E5;
}

.navigator__item {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .navigator {
        justify-content: flex-end;
        border-bottom: none;
        padding: 0;
    }

    .navigator__item {
        margin-left: 24px;
    }

    .navigator__item a {
        display: block;
        padding-top: 40px;
        background: no-repeat 50% 0;
    }

    .navigator__item.tastemakers a {
        background-image: url(../images/week2/nav-tastemakers.png);
    }

    .navigator__item.blog a {
        background-image: url(../images/week2/nav-blog.png);
    }

    .navigator__item.a-list a {
        background-image: url(../images/week2/nav-alist.png);
    }

    .navigator__item.contribute a {
        background-image: url(../images/week2/nav-contribute.png);
    }

    .navigator__item.about a {
        background-image: url(../images/week2/nav-about.png);
    }
}

@media screen and (min-width: 960px) {
    .navigator {
        flex-direction: column;
    }

    .navigator__item {
        margin-left: 0;
        margin-bottom: 8px;
    }
    .navigator__item a {
        padding-top: 0;
        padding-left: 48px;
        background: no-repeat 0 50%;
        line-height: 40px;
    }
}

.cover-image {
    border-bottom: 1px #E5E5E5 dashed;
}

.cover-image__img {
    background: url(../images/week2/foodsense.jpg) 50% 50%;
    background-size: cover;
    height: 160px;
}

.cover-image__description-line {
    padding: 8px 12px;
    background-color: #F6F6F6;
    font-style: italic;
}

.cover-image__description-line--black {
    background-color: black;
    color: white;
}

.cover-image__footer {
    padding: 8px;
    text-align: right;
    color: #555555;
}

.cover-image__tabs {
    display: none;
}

@media screen and (min-width: 600px) {
    .cover-image {
        position: relative;
        padding-bottom: 32px;
    }

    .cover-image__img {
        height: 400px;
    }

    .cover-image__description {
        position: absolute;
        top: 55%
    }

    .cover-image__footer {
        position: absolute;
        right: 12px;
        bottom: 80px;
        padding: 4px;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .cover-image__tabs {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .cover-image__tab {
        flex: 1;
        padding: 8px;
        color: #60BEAE;
        background-color: #EFF8F7;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }

    .cover-image__tab.is-active {
        color: #3BAF9C;
        background-color: #D9EFEC;
    }

    .cover-image__tab:hover {
        color: #298979;
    }
}

.subscribe {
    padding: 24px 12px;
    border-bottom: 1px #E5E5E5 dashed;
}

.subscribe__description {
    padding-left: 60px;
    background: url("../images/week2/icon-mailinglist-32.png") 0 50% no-repeat;
    background-size: 40px 40px;
    font-style: italic;
    margin-bottom: 12px;
}

.subscribe__input {
    margin-right: 8px;
}

.subscribe__cta {
    text-align: center;
}

.subscribe__btn {
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
}

@media screen and (min-width: 600px) {
    .subscribe {
        display: flex;
        align-items: center;
        padding: 12px;
    }

    .subscribe__description {
        margin-right: 16px;
    }
}

.articles {
    padding: 24px 8px;
}

.article {
    padding: 12px 8px;
}

.article__image{
    margin-bottom: 12px;
    padding: 8px;
    border: 1px #EEEEEE solid;
    width: 100%;
}

.article__header {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.article__text {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 12px;
}

.article__footer {
    font-size: 1.25rem;
}

.article__date {
    color: #AAAAAA;
}

@media screen and (min-width: 600px) {
    .articles {
        display: flex;
    }

    .article {
        flex: 1;
    }

    .article__header {
        font-size: 1.25rem;
    }

    .article__text {
        font-size: 1rem;
    }

    .article__footer {
        font-size: 1rem;
    }
}

.page-footer {
    display: flex;
    padding: 16px 8px;
    border-top: 1px #EEEEEE solid;
    justify-content: space-between;
}

.page-footer__text {
    line-height: 1.2;
    color: #AAAAAA;
}

.page-footer__social-item {
    text-decoration: none;
    margin-right: 4px;
}

.page-footer__social-item .iconfont {
    font-size: 24px;
    color: #AAAAAA;
}

.page-footer__social-item:hover .iconfont {
    color: #666666;
}

@media screen and (min-width: 600px) {
    .page-footer__social-item {
        margin-right: 8px;
    }
}