* {
    box-sizing: border-box;
}

html {
    font-family: Corbel, sans-serif;
    font-size: 12px;
}

header, main, footer {
    width: 100%;
    max-width: 1200px;
    padding: 0 8px;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-logo{
    width: 48vw;
    height: 48vw;
    padding: 32px;
}

.navigator-wrapper {
    width: 100%;
}

.navigator {
    display: flex;
    list-style: none;
    padding: 24px 0;
    justify-content: space-around;
    margin: 0;
    border-bottom: 1px solid #E5E5E5;
}

.navigator__item {
    font-weight: bold;
}

.navigator__item a {
    text-decoration: none;
    color: #34AC98;
}

.cover-image {
    border-bottom: 1px #E5E5E5 dashed;
}

.cover-image__img {
    background: url(../images/week2/foodsense.jpg) 100% 0;
    background-size: cover;
    height: 160px;
}

.cover-image__description-line {
    padding: 8px;
    background-color: #F6F6F6;
    font-style: italic;
}

.cover-image__description-line--black {
    background-color: black;
    color: white;
}

.cover-image__footer {
    padding: 8px;
    text-align: right;
    color: #555555;
}

.subscribe {
    padding: 24px 12px;
    border-bottom: 1px #E5E5E5 dashed;
}

.subscribe__description {
    padding-left: 60px;
    background: url("../images/week2/icon-mailinglist-32.png") 0 50% no-repeat;
    background-size: 40px 40px;
    font-style: italic;
    margin-bottom: 12px;
}

.subscribe__input {
    margin-right: 8px;
}

.subscribe__cta {
    text-align: center;
}

.articles {
    padding: 24px 8px;
}

.article {
    padding: 12px 8px;
}

.article__image{
    margin-bottom: 12px;
    padding: 8px;
    border: 1px #EEEEEE solid;
    width: 100%;
}

.article__header {
    display: block;
    text-decoration: none;
    color: #34AC98;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.article__text {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 12px;
}

.article__footer {
    font-size: 1.25rem;
}

.article__date {
    color: #AAAAAA;
}

.article__details-link {
    color: #34AC98;
    text-decoration: none;
}

.page-footer {
    display: flex;
    padding: 16px 8px;
    border-top: 1px #EEEEEE solid;
}

.page-footer__text {
    line-height: 1.2;
    color: #AAAAAA;
}

.page-footer__link {
    text-decoration: none;
    color: #34AC98;
}